<!-- uploaded files and form are shown in the same window -->
<div class="row">
    <div class="col-sm-12">
        <input id="input-deal-files" name="input-deal-files[]" type="file" multiple>
    </div>
</div>