<!-- uploaded files and form are shown in the same window -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Помощь и обратная связь</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <h4>Задать вопрос в Telegram:<a href="https://t.me/m_remont"><h4><i class="fa fa-telegram" aria-hidden="true"></i> https://t.me/m_remont</h4></a></h4>
                    </div>
                    <div class="col-sm-4">
                        <h4>E-mail для консультаций:<br /><a href="mailto://info@m-designgroup.ru"><h4><i class="fa fa-envelope-o" aria-hidden="true"></i> info@m-designgroup.ru</h4></a></h4><br />
                    </div>
                    <div class="col-sm-4">
                        <h4>Телефон для справок:<br /><a href="tel://88126296890"><h4><i class="fa fa-phone" aria-hidden="true"></i> 8 (812) 629-68-90</h4></a></h4><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
